nav {
    background-color: rgb(247, 166, 137);
}

nav ul {
    margin: 0;
    padding: 0;
    display: flex;
}

nav li {
    list-style-type: none;
    width: 33.3%;
    text-align: center;
}

nav a {
    display: block;
    padding: 20px 30px;
    color: white;
    text-transform: uppercase;
    text-decoration: none;
    cursor: pointer;
}


.menu-info:hover {
    background-color: rgba(255, 127, 80, 0.524);
}

.menu-expr:hover {
    background-color: rgba(255, 127, 80, 0.524);
}

.menu-contact:hover {
    background-color: rgba(255, 127, 80, 0.524);
}
